AplicacaoWeb/Service References/IMCService/IMCService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AplicacaoWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AplicacaoWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultadoIMC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altura" type="xs:double" />
      <xs:element minOccurs="0" name="DescSituacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:double" />
      <xs:element minOccurs="0" name="valorIMC" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoIMC" nillable="true" type="tns:ResultadoIMC" />
</xs:schema>